.container-blog {
  width: 1140px;
  padding-top: 72px;
  margin: auto;

  .blog-heading {
    @include flex(space-between, center);

    h2 {
      @include font(34px, 40px, 600);
      color: $fontColor;
    }
  }

  a {
    @include font(16px, 24px);
    width: 127px;
    color: $linkColor;

    img {
      padding-left: 8px;
    }
  }

  .cart-blogs {
    padding-top: 56px;
    display: flex;
    gap: 32px;

    .cart-blog {
      width: 384px;
      background: $whiteColor;
      box-shadow: 0px 16px 32px rgba(118, 127, 154, 0.08);
      border-radius: 8px;

      img {
        width: 100%;
        padding: 8px 0 24px 0;
      }

      h4 {
        @include font(20px, 28px, 600);
        padding: 0 16px;
        padding-bottom: 24px;
        color: $fontColor;
      }

      button {
        @include font(14px, 20px);
        background: $whiteColor;
        border: 1px solid #c5cee0;
        border-radius: 4px;
        padding: 6px 16px;
        margin-left: 16px;
        margin-bottom: 32px;
        color: $fontColor;
        transition: ease-in-out all 0.55s;
        cursor: pointer;
      }
    }
  }
}

@include xs {
  .container-blog {
    @include flex(center, center, column);
    position: relative;
    width: 100%;
    padding: 64px 16px 94px 16px;

    .blog-heading {
      padding: 32px 24px;
      text-align: center;

      h2 {
        @include font(24px, 32px);
      }
    }

    .see-all {
      position: absolute;
      bottom: 14px;
      width: 80%;
      margin: auto;
    }

    .cart-blogs {
      @include flex(center, center, column);
      width: 100%;
      margin: auto;
      padding: 0;

      .cart-blog {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 8px;

        button {
          border-radius: 0;
        }
      }
    }
  }
}
