$primaryColor: #222b45;
$secondaryColor: #ff3d71;
$fontColor: #2e3a59;
$smallFontColor: #8f9bb3;
$featuresBgColor: #f8f8f8;
$whiteColor: #ffffff;
$secondaryBgColor: #f7f9fc;
$linkColor: #3366ff;
$buttonColor: #0095ff;
