@import url("http://fonts.cdnfonts.com/css/euclid-circular-a");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Euclid Circular A", sans-serif;
  text-decoration: none;
  list-style: none;
}
